<div>
  <div class="app_banner">
    <h1>HN Feed</h1>
    <h5>We < hacker news!</h5>
  </div>
  <table width="100%">
    <tr *ngFor="let post of posts" class="post_row">
      <td>{{ showTitle(post) }}  <span class="author"> - {{ post.author }}</span></td>
      <td>date</td>
      <td><button (click)="deletePost(post)">Delete</button></td>
    </tr>
  </table>
</div>
