.app_banner {
  padding: 30px;
  background: #4f4e4e;
  color: white;
}
.post_row {
  background: #FFF;
  height: 50px;
  &:hover {
    background: #FAFAFA;
  }
}

table {
  border-collapse: collapse;
  tr {
    border: solid 1px #CECECE;
    td {
      color: #333;
      padding-left: 10px;
      padding-right: 10px;
      span.author {
        color: #999;
      }
    }
  }
}
